body{ 
    text-align: center; 
    font-size: 1.5em;
}
.logo{
    position: absolute;
    width: 10%;
    top: 10px;
    left: 50px;
    opacity: .8;
}
#minhaImagem{
    width:100px
}











































